In [1]:
import pandas as pd
import numpy as np
import datetime as dt

pd.set_option('display.max_columns', 50)  # показывать больше колонок

In [2]:
RANDOM_SEED = 42

In [3]:
DATA_DIR = ''
train = pd.read_csv(DATA_DIR+'train.csv')
test = pd.read_csv(DATA_DIR+'test.csv')
submission = pd.read_csv(DATA_DIR+'sample_solution.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955 entries, 0 to 954
Data columns (total 39 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ID                                     955 non-null    object
 1   Пол                                    954 non-null    object
 2   Семья                                  955 non-null    object
 3   Этнос                                  955 non-null    object
 4   Национальность                         955 non-null    object
 5   Религия                                955 non-null    object
 6   Образование                            955 non-null    object
 7   Профессия                              955 non-null    object
 8   Вы работаете?                          955 non-null    int64
 9   Выход на пенсию                        955 non-null    int64
 10  Прекращение работы по болезни          955 non-null    int64
 11  Сахарный диабет                        955 non-null    int64
 12  Гепатит                                955 non-null    int64
 13  Онкология                              955 non-null    int64
 14  Хроническое заболевание легких         955 non-null    int64
 15  Бронжиальная астма                     955 non-null    int64
 16  Туберкулез легких                      955 non-null    int64
 17  ВИЧ/СПИД                               955 non-null    int64
 18  Регулярный прим лекарственных средств  955 non-null    int64
 19  Травмы за год                          955 non-null    int64
 20  Переломы                               955 non-null    int64
 21  Статус Курения                         955 non-null    object
 22  Возраст курения                        412 non-null    float64
 23  Сигарет в день                         409 non-null    float64
 24  Пассивное курение                      955 non-null    int64
 25  Частота пасс кур                       223 non-null    object
 26  Алкоголь                               955 non-null    object
 27  Возраст алког                          788 non-null    float64
 28  Время засыпания                        955 non-null    object
 29  Время пробуждения                      955 non-null    object
 30  Сон после обеда                        955 non-null    int64
 31  Спорт, клубы                           955 non-null    int64
 32  Религия, клубы                         955 non-null    int64
 33  ID_y                                   955 non-null    object
 34  Артериальная гипертензия               955 non-null    int64
 35  ОНМК                                   955 non-null    int64
 36  Стенокардия, ИБС, инфаркт миокарда     955 non-null    int64
 37  Сердечная недостаточность              955 non-null    int64
 38  Прочие заболевания сердца              955 non-null    int64
dtypes: float64(3), int64(22), object(14)
memory usage: 291.1+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 33 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ID                                     638 non-null    object
 1   Пол                                    638 non-null    object
 2   Семья                                  638 non-null    object
 3   Этнос                                  638 non-null    object
 4   Национальность                         638 non-null    object
 5   Религия                                638 non-null    object
 6   Образование                            638 non-null    object
 7   Профессия                              638 non-null    object
 8   Вы работаете?                          638 non-null    int64
 9   Выход на пенсию                        638 non-null    int64
 10  Прекращение работы по болезни          638 non-null    int64
 11  Сахарный диабет                        638 non-null    int64
 12  Гепатит                                638 non-null    int64
 13  Онкология                              638 non-null    int64
 14  Хроническое заболевание легких         638 non-null    int64
 15  Бронжиальная астма                     638 non-null    int64
 16  Туберкулез легких                      638 non-null    int64
 17  ВИЧ/СПИД                               638 non-null    int64
 18  Регулярный прим лекарственных средств  638 non-null    int64
 19  Травмы за год                          638 non-null    int64
 20  Переломы                               638 non-null    int64
 21  Статус Курения                         638 non-null    object
 22  Возраст курения                        269 non-null    float64
 23  Сигарет в день                         265 non-null    float64
 24  Пассивное курение                      638 non-null    int64
 25  Частота пасс кур                       154 non-null    object
 26  Алкоголь                               638 non-null    object
 27  Возраст алког                          501 non-null    float64
 28  Время засыпания                        638 non-null    object
 29  Время пробуждения                      638 non-null    object
 30  Сон после обеда                        638 non-null    int64
 31  Спорт, клубы                           638 non-null    int64
 32  Религия, клубы                         638 non-null    int64
dtypes: float64(3), int64(17), object(13)
memory usage: 164.6+ KB

In [6]:
train.sample(5)

,ID,Пол,Семья,Этнос,Национальность,Религия,Образование,Профессия,Вы работаете?,Выход на пенсию,Прекращение работы по болезни,Сахарный диабет,Гепатит,Онкология,Хроническое заболевание легких,Бронжиальная астма,Туберкулез легких,ВИЧ/СПИД,Регулярный прим лекарственных средств,Травмы за год,Переломы,Статус Курения,Возраст курения,Сигарет в день,Пассивное курение,Частота пасс кур,Алкоголь,Возраст алког,Время засыпания,Время пробуждения,Сон после обеда,"Спорт, клубы","Религия, клубы",ID_y,Артериальная гипертензия,ОНМК,"Стенокардия, ИБС, инфаркт миокарда",Сердечная недостаточность,Прочие заболевания сердца
539,54-102-230-01,Ж,в браке в настоящее время,европейская,Русские,Христианство,5 - ВУЗ,дипломированные специалисты,1,0,0,0,0,0,0,0,0,0,0,1,1,Никогда не курил(а),NaN,NaN,0,NaN,употребляю в настоящее время,19.0,00:30:00,06:30:00,0,0,0,54-102-230-01,0,0,0,0,1
234,54-102-156-02,М,в браке в настоящее время,европейская,Русские,Христианство,5 - ВУЗ,"работники, занятые в сфере обслуживания, торг...",1,0,0,0,0,0,0,0,0,0,0,1,1,Никогда не курил(а),NaN,NaN,1,2-3 раза в день,употребляю в настоящее время,17.0,02:00:00,10:00:00,0,1,0,54-102-156-02,0,0,0,0,0
70,54-001-048-02,М,в браке в настоящее время,европейская,Немцы,Атеист / агностик,3 - средняя школа / закон.среднее / выше среднего,операторы и монтажники установок и машинного о...,0,1,0,0,1,0,0,0,0,0,0,0,1,Никогда не курил(а),NaN,NaN,0,NaN,употребляю в настоящее время,20.0,23:30:00,07:00:00,0,0,0,54-001-048-02,0,0,0,0,0
554,54-102-124-02,Ж,вдовец / вдова,европейская,Русские,Христианство,4 - профессиональное училище,"работники, занятые в сфере обслуживания, торг...",0,1,0,0,0,0,0,0,0,0,1,0,1,Никогда не курил(а),NaN,NaN,0,NaN,ранее употреблял,20.0,01:00:00,06:00:00,0,0,0,54-102-124-02,1,0,0,0,0
379,54-501-093-01,Ж,вдовец / вдова,европейская,Русские,Христианство,3 - средняя школа / закон.среднее / выше среднего,ремесленники и представители других отраслей п...,0,1,0,0,0,0,0,0,0,0,0,0,1,Курит,45.0,10.0,0,NaN,употребляю в настоящее время,45.0,21:00:00,05:00:00,0,0,0,54-501-093-01,1,0,0,0,0

In [7]:
submission.sample(2)

,ID,Артериальная гипертензия,ОНМК,"Стенокардия, ИБС, инфаркт миокарда",Сердечная недостаточность,Прочие заболевания сердца
430,54-101-007-01,0,0,0,0,0
511,54-701-034-01,0,0,0,0,0

In [8]:
# Заболевания - целевые столбцы
illnesses = submission.columns[1:].to_list()

In [9]:
test_columns = test.columns.to_list()
train_columns = train.columns.to_list()
# Анпечатаем, каких столбцов нет в тестовом датасете
for col in train_columns:
    if col not in test_columns:
        print(col)

ID_y
Артериальная гипертензия
ОНМК
Стенокардия, ИБС, инфаркт миокарда
Сердечная недостаточность
Прочие заболевания сердца

In [225]:
# Объединяем данные для обработки

train['Train'] = 1 # помечаем трейн
test['Train'] = 0 # помечаем тест

df = train.append(test, sort=False).reset_index(drop=True)

In [211]:
df['Пол'].value_counts(dropna=False)

Ж      1117
М       475
NaN       1
Name: Пол, dtype: int64

In [226]:
# Одна запись в train без пола - удалим её
df.drop(df[df['Пол'].isna()].index, inplace=True, axis=0)

In [71]:
df['Семья'].value_counts(dropna=False)

в браке в настоящее время                          937
вдовец / вдова                                     246
в разводе                                          201
гражданский брак / проживание с партнером          128
никогда не был(а) в браке                           77
раздельное проживание (официально не разведены)      3
Name: Семья, dtype: int64

In [14]:
df['Этнос'].value_counts(dropna=False)

европейская                                                                                                      1558
другая азиатская (Корея, Малайзия, Таиланд, Вьетнам, Казахстан, Киргизия, Туркмения, Узбекистан, Таджикистан)      24
прочее (любая иная этно-расовая группа, не представленная выше)                                                    10
Name: Этнос, dtype: int64

In [15]:
df['Национальность'].value_counts(dropna=False)

Русские                  1499
Татары                     33
Украинцы                   10
Немцы                      10
Чуваши                      9
Азербайджанцы               4
Армяне                      3
Казахи                      3
Другие национальности       3
Белорусы                    3
Мордва                      2
Евреи                       2
Удмурты                     2
Киргизы                     2
Таджики                     2
Буряты                      1
Эстонцы                     1
Молдаване                   1
Лезгины                     1
Башкиры                     1
Name: Национальность, dtype: int64

In [16]:
df['Религия'].value_counts(dropna=False)

Христианство         1361
Атеист / агностик     127
Нет                    72
Ислам                  30
Индуизм                 1
Другое                  1
Name: Религия, dtype: int64

In [227]:
df['Религия'] = df['Религия'].apply(lambda x: 'Нет религии' if (x=='Нет' or x=='Индуизм' or x=='Другое') else x)

In [21]:
df['Образование'].value_counts(dropna=False)

4 - профессиональное училище                         757
5 - ВУЗ                                              547
3 - средняя школа / закон.среднее / выше среднего    278
2 - начальная школа                                   10
Name: Образование, dtype: int64

In [22]:
df['Профессия'].value_counts(dropna=False)

дипломированные специалисты                                                            382
низкоквалифицированные работники                                                       225
работники,  занятые в сфере обслуживания, торговые работники магазинов и рынков        204
ремесленники и представители других отраслей промышленности                            149
служащие                                                                               142
техники и младшие специалисты                                                          140
ведение домашнего хозяйства                                                            133
операторы и монтажники установок и машинного оборудования                              128
представители   законодат.   органов   власти,  высокопостав. долж.лица и менеджеры     55
квалифицированные работники сельского хозяйства и рыболовного                           25
вооруженные силы                                                                         9
Name: Профессия, dtype: int64

In [24]:
df['Вы работаете?'].value_counts(dropna=False)

1    864
0    728
Name: Вы работаете?, dtype: int64

In [25]:
df['Выход на пенсию'].value_counts(dropna=False)

0    1088
1     504
Name: Выход на пенсию, dtype: int64

In [26]:
df['Прекращение работы по болезни'].value_counts(dropna=False)

0    1508
1      84
Name: Прекращение работы по болезни, dtype: int64

In [27]:
df['Сахарный диабет'].value_counts(dropna=False)

0    1440
1     152
Name: Сахарный диабет, dtype: int64

In [28]:
df['Гепатит'].value_counts(dropna=False)

0    1409
1     183
Name: Гепатит, dtype: int64

In [29]:
df['Онкология'].value_counts(dropna=False)

0    1520
1      72
Name: Онкология, dtype: int64

In [31]:
df['Хроническое заболевание легких'].value_counts(dropna=False)

0    1468
1     124
Name: Хроническое заболевание легких, dtype: int64

In [32]:
df['Бронжиальная астма'].value_counts(dropna=False)

0    1529
1      63
Name: Бронжиальная астма, dtype: int64

In [34]:
df['Туберкулез легких '].value_counts(dropna=False)

0    1564
1      28
Name: Туберкулез легких , dtype: int64

In [35]:
df['ВИЧ/СПИД'].value_counts(dropna=False)

0    1590
1       2
Name: ВИЧ/СПИД, dtype: int64

In [37]:
test['ВИЧ/СПИД'].value_counts(dropna=False)

0    638
Name: ВИЧ/СПИД, dtype: int64

In [228]:
# Поскольку в test всё по нулям, значит данный признак для нас не информативен. Удаляем
df.drop('ВИЧ/СПИД', axis=1, inplace=True)

In [41]:
df['Регулярный прим лекарственных средств'].value_counts(dropna=False)

1    995
0    597
Name: Регулярный прим лекарственных средств, dtype: int64

In [42]:
df['Травмы за год'].value_counts(dropna=False)

0    1507
1      85
Name: Травмы за год, dtype: int64

In [43]:
df['Переломы'].value_counts(dropna=False)

0    1031
1     561
Name: Переломы, dtype: int64

In [44]:
df['Статус Курения'].value_counts(dropna=False)

Никогда не курил(а)    911
Курит                  359
Бросил(а)              321
Никогда не курил         1
Name: Статус Курения, dtype: int64

In [229]:
df['Статус Курения'] = df['Статус Курения'].apply(lambda x: 'Никогда не курил(а)' if x=='Никогда не курил' else x)

In [56]:
df['Возраст курения'].describe()

count    680.000000
mean      20.273529
std        7.940048
min        5.000000
25%       16.000000
50%       18.000000
75%       21.000000
max       58.000000
Name: Возраст курения, dtype: float64

In [216]:
df['Возраст курения'].value_counts(dropna=False)

NaN     912
20.0    111
18.0     93
16.0     72
17.0     66
15.0     51
19.0     33
25.0     31
30.0     23
14.0     18
12.0     15
21.0     15
22.0     14
7.0      13
40.0     11
24.0     11
23.0     10
10.0      9
13.0      9
35.0      9
45.0      5
6.0       5
27.0      5
26.0      5
8.0       4
28.0      4
29.0      4
50.0      3
33.0      3
41.0      3
36.0      3
31.0      2
39.0      2
47.0      2
55.0      1
52.0      1
38.0      1
56.0      1
42.0      1
32.0      1
5.0       1
11.0      1
54.0      1
53.0      1
37.0      1
44.0      1
58.0      1
34.0      1
51.0      1
43.0      1
Name: Возраст курения, dtype: int64

In [76]:
import math

In [230]:
df['Возраст курения'] = df['Возраст курения'].apply(lambda x: 'не курит' if math.isnan(x) else 'до 5 лет' if x<5 else 'до 10 лет' if x<10 else 'до 20 лет' if x<20 else 'до 30 лет' if x<30 else 'более 30 лет')

In [231]:
df['Возраст курения'].value_counts(dropna=False)

не курит        912
до 20 лет       367
до 30 лет       210
более 30 лет     80
до 10 лет        23
Name: Возраст курения, dtype: int64

In [219]:
df['Сигарет в день'].value_counts(dropna=False)

NaN      919
20.0     186
10.0     139
5.0       69
15.0      51
2.0       28
3.0       27
30.0      24
40.0      23
4.0       22
1.0       22
6.0       19
7.0       16
12.0      11
8.0       10
25.0       7
60.0       4
17.0       2
50.0       2
18.0       2
16.0       2
13.0       2
11.0       1
80.0       1
14.0       1
180.0      1
35.0       1
Name: Сигарет в день, dtype: int64

In [232]:
df['Сигарет в день'] = df['Сигарет в день'].apply(lambda x: 'ни одной сигареты' if math.isnan(x) else 'до 5 сигарет' if x<5 else 'до 10 сигарет' if x<10 else 'до 20 сигарет' if x<20 else 'до 30 сигарет' if x<30 else 'до 40 сигарет' if x<40 else 'до 50 сигарет' if x<50 else 'более 50 сигарет')

In [233]:
df['Сигарет в день'].value_counts(dropna=False)

ни одной сигареты    919
до 20 сигарет        211
до 30 сигарет        193
до 10 сигарет        114
до 5 сигарет          99
до 40 сигарет         25
до 50 сигарет         23
более 50 сигарет       8
Name: Сигарет в день, dtype: int64

In [90]:
df['Пассивное курение'].value_counts(dropna=False)

0    1214
1     378
Name: Пассивное курение, dtype: int64

In [222]:
df['Частота пасс кур'].value_counts(dropna=False)

NaN                       1215
1-2 раза в неделю          158
4 и более раз в день        75
2-3 раза в день             59
не менее 1 раза в день      47
3-6 раз в неделю            38
Name: Частота пасс кур, dtype: int64

In [234]:
df['Частота пасс кур'] = df['Частота пасс кур'].apply(lambda x: 1 if x=='1-2 раза в неделю' else 2 if x=='2-3 раза в день' else 3 if x=='3-6 раз в неделю' else 4 if x=='не менее 1 раза в день' else 5 if x=='4 и более раз в день' else 0)

In [235]:
df['Частота пасс кур'].value_counts(dropna=False)

0    1215
1     158
5      75
2      59
4      47
3      38
Name: Частота пасс кур, dtype: int64

In [99]:
df['Алкоголь'].value_counts(dropna=False)

употребляю в настоящее время    1045
никогда не употреблял            300
ранее употреблял                 247
Name: Алкоголь, dtype: int64

In [236]:
df['Возраст алког'].value_counts(dropna=False)

NaN     304
20.0    298
18.0    278
17.0    131
16.0    111
25.0     88
19.0     66
21.0     57
15.0     50
22.0     42
30.0     28
23.0     25
14.0     18
35.0     15
24.0     13
40.0      8
26.0      8
12.0      5
29.0      5
45.0      5
27.0      4
37.0      4
33.0      4
13.0      4
10.0      3
32.0      3
50.0      3
6.0       2
28.0      2
48.0      1
44.0      1
9.0       1
46.0      1
36.0      1
63.0      1
43.0      1
60.0      1
Name: Возраст алког, dtype: int64

In [237]:
df['Возраст алког'] = df['Возраст алког'].apply(lambda x: 'не употребляю' if math.isnan(x) else 'до 5 лет' if x<5 else 'до 10 лет' if x<10 else 'до 20 лет' if x<20 else 'до 30 лет' if x<30 else 'более 30 лет')

In [238]:
df['Возраст алког'].value_counts(dropna=False)

до 20 лет        666
до 30 лет        542
не употребляю    304
более 30 лет      77
до 10 лет          3
Name: Возраст алког, dtype: int64

In [108]:
df['Время засыпания'].value_counts(dropna=False)

23:00:00    518
00:00:00    343
22:00:00    291
01:00:00    112
23:30:00     73
21:00:00     63
22:30:00     62
02:00:00     34
00:30:00     30
21:30:00     22
23:59:00      9
01:30:00      7
23:50:00      6
03:00:00      4
00:10:00      2
02:30:00      2
20:00:00      2
00:01:00      1
04:00:00      1
05:00:00      1
00:00:30      1
21:50:00      1
00:05:00      1
09:00:00      1
20:30:00      1
22:23:00      1
00:15:00      1
01:20:00      1
12:00:00      1
Name: Время засыпания, dtype: int64

In [241]:
df['time_to_bed'] = df['Время засыпания'].apply(lambda x: pd.to_datetime(x) if pd.to_datetime(x).hour < 6 else pd.to_datetime(x) - dt.timedelta(hours=12) if pd.to_datetime(x).hour < 13 else pd.to_datetime(x) - dt.timedelta(days=1))
df['time_to_awake'] = pd.to_datetime(df['Время пробуждения'])
df['sleep_time'] = df['time_to_awake'] - df['time_to_bed']

In [242]:
df['time_to_bed_hour'] = df['time_to_bed'].apply(lambda x: x.hour if x.minute < 30 else x.hour + 1)
df['time_to_awake_hour'] = df['time_to_awake'].apply(lambda x: x.hour if x.minute < 30 else x.hour + 1)

In [243]:
df.sleep_time = df.sleep_time.apply(lambda x: str(x).split(' ')[-1])
df['sleep_time_hour'] = df.sleep_time.apply(lambda x: pd.to_datetime(x).hour if pd.to_datetime(x).minute<30 else pd.to_datetime(x).hour + 1)

In [244]:
# Удаляем столбцы со временем, они нам больше не понадобятся
df.drop(['Время засыпания', 'time_to_bed', 'Время пробуждения', 'time_to_awake', 'sleep_time'], axis=1, inplace=True)

In [245]:
df['after_midmight'] = np.where(df['time_to_bed_hour']<7, 1, 0)

In [246]:
df['Сон после обеда'].value_counts(dropna=False)

0    1231
1     361
Name: Сон после обеда, dtype: int64

In [150]:
df['Спорт, клубы'].value_counts(dropna=False)

0    1490
1     102
Name: Спорт, клубы, dtype: int64

In [151]:
df['Религия, клубы'].value_counts(dropna=False)

0    1556
1      36
Name: Религия, клубы, dtype: int64

In [247]:
# Удаляем ID_y, поскольку он дубрилует ID. Не информативен.
df.drop('ID_y', axis=1, inplace=True)

In [248]:
df.columns

Index(['ID', 'Пол', 'Семья', 'Этнос', 'Национальность', 'Религия',
       'Образование', 'Профессия', 'Вы работаете?', 'Выход на пенсию',
       'Прекращение работы по болезни', 'Сахарный диабет', 'Гепатит',
       'Онкология', 'Хроническое заболевание легких', 'Бронжиальная астма',
       'Туберкулез легких ', 'Регулярный прим лекарственных средств',
       'Травмы за год', 'Переломы', 'Статус Курения', 'Возраст курения',
       'Сигарет в день', 'Пассивное курение', 'Частота пасс кур', 'Алкоголь',
       'Возраст алког', 'Сон после обеда', 'Спорт, клубы', 'Религия, клубы',
       'Артериальная гипертензия', 'ОНМК',
       'Стенокардия, ИБС, инфаркт миокарда', 'Сердечная недостаточность',
       'Прочие заболевания сердца', 'Train', 'time_to_bed_hour',
       'time_to_awake_hour', 'sleep_time_hour', 'after_midmight'],
      dtype='object')

In [249]:
train_data = df[df['Train'] == 1].drop(['Train', 'Артериальная гипертензия', 'ОНМК',
       'Стенокардия, ИБС, инфаркт миокарда', 'Сердечная недостаточность',
       'Прочие заболевания сердца'], axis=1)
test_data = df[df['Train'] == 0].drop(['Train', 'Артериальная гипертензия', 'ОНМК',
       'Стенокардия, ИБС, инфаркт миокарда', 'Сердечная недостаточность',
       'Прочие заболевания сердца'], axis=1)
y= df[df['Train'] == 1][['ID', 'Артериальная гипертензия', 'ОНМК',
       'Стенокардия, ИБС, инфаркт миокарда', 'Сердечная недостаточность',
       'Прочие заболевания сердца']]

In [250]:
y=y.set_index('ID')
train_data = train_data.set_index('ID')
test_data = test_data.set_index('ID')
y_1 = y['Артериальная гипертензия'].copy()
y_2 = y['ОНМК'].copy()
y_3 = y['Стенокардия, ИБС, инфаркт миокарда'].copy()
y_4 = y['Сердечная недостаточность'].copy()
y_5 = y['Прочие заболевания сердца'].copy()

In [163]:
from sklearn.model_selection import train_test_split

In [251]:
# split данных
train_1_df, val_1_df, y_1_train, y_1_test = train_test_split(train_data, y_1, test_size=0.15, stratify = y_1, shuffle=True, random_state=RANDOM_SEED)
train_2_df, val_2_df, y_2_train, y_2_test = train_test_split(train_data, y_2, test_size=0.15, stratify = y_2, shuffle=True, random_state=RANDOM_SEED)
train_3_df, val_3_df, y_3_train, y_3_test = train_test_split(train_data, y_3, test_size=0.15, stratify = y_3, shuffle=True, random_state=RANDOM_SEED)
train_4_df, val_4_df, y_4_train, y_4_test = train_test_split(train_data, y_4, test_size=0.15, stratify = y_4, shuffle=True, random_state=RANDOM_SEED)
train_5_df, val_5_df, y_5_train, y_5_test = train_test_split(train_data, y_5, test_size=0.15, stratify = y_5, shuffle=True, random_state=RANDOM_SEED)

In [188]:
from catboost import CatBoostClassifier

In [252]:
cat_features = ['Пол', 'Семья', 'Этнос', 'Национальность', 'Религия', 'Образование',
                'Профессия', 'Статус Курения', 'Возраст курения',
                'Сигарет в день', 'Алкоголь','Возраст алког']

In [253]:
set_dict = {
    'ill_1':[train_1_df, val_1_df, y_1_train, y_1_test], 
    'ill_2':[train_2_df, val_2_df, y_2_train, y_2_test], 
    'ill_3':[train_3_df, val_3_df, y_3_train, y_3_test], 
    'ill_4':[train_4_df, val_4_df, y_4_train, y_4_test],
    'ill_5':[train_5_df, val_5_df, y_5_train, y_5_test]
           }

In [266]:
y_3_train.value_counts()

0.0    711
1.0     99
Name: Стенокардия, ИБС, инфаркт миокарда, dtype: int64

In [267]:
y_3_test.value_counts()

0.0    126
1.0     18
Name: Стенокардия, ИБС, инфаркт миокарда, dtype: int64

In [273]:
i=1
score = 0
predict_test=test_data.copy()
for train_set in set_dict.values():
    model_cat = CatBoostClassifier(iterations = 1000,
                                  #depth=10,
                                  learning_rate = 0.1,
                                  random_seed = RANDOM_SEED,
                                  eval_metric='Recall',
    #                               od_wait=500,
    #                               #task_type='GPU',
                                  cat_features=cat_features
                             )
    model_cat.fit(train_set[0], train_set[2],
                  cat_features=cat_features,
                 eval_set=(train_set[1], train_set[3]),
                 verbose_eval=500,
                 use_best_model=True,
                 #plot=True
                 )
    score+=model_cat.get_best_score()['validation']['Recall']
    predict_test[f'test_predict_{i}'] = model_cat.predict(test_data)
    i+=1
print('Средний Recall по всем заболеваниям: ', score/5)

0:	learn: 0.8627968	test: 0.9402985	best: 0.9402985 (0)	total: 18.2ms	remaining: 18.2s
500:	learn: 0.9973615	test: 0.7164179	best: 0.9402985 (0)	total: 33s	remaining: 32.9s
999:	learn: 1.0000000	test: 0.6865672	best: 0.9402985 (0)	total: 1m 4s	remaining: 0us

bestTest = 0.9402985075
bestIteration = 0

Shrink model to first 1 iterations.
0:	learn: 0.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 57.4ms	remaining: 57.3s
500:	learn: 1.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 31.9s	remaining: 31.8s
999:	learn: 1.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 1m 13s	remaining: 0us

bestTest = 0
bestIteration = 0

Shrink model to first 1 iterations.
0:	learn: 0.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 19.7ms	remaining: 19.7s
500:	learn: 0.9898990	test: 0.0000000	best: 0.0000000 (0)	total: 46.2s	remaining: 46.1s
999:	learn: 1.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 1m 19s	remaining: 0us

bestTest = 0
bestIteration = 0

Shrink model to first 1 iterations.
0:	learn: 0.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 47ms	remaining: 47s
500:	learn: 1.0000000	test: 0.0000000	best: 0.1428571 (112)	total: 30.3s	remaining: 30.2s
999:	learn: 1.0000000	test: 0.0000000	best: 0.1428571 (112)	total: 1m 3s	remaining: 0us

bestTest = 0.1428571429
bestIteration = 112

Shrink model to first 113 iterations.
0:	learn: 0.0136986	test: 0.0000000	best: 0.0000000 (0)	total: 50.3ms	remaining: 50.2s
500:	learn: 0.9863014	test: 0.0000000	best: 0.0769231 (283)	total: 29.4s	remaining: 29.3s
999:	learn: 1.0000000	test: 0.0000000	best: 0.0769231 (283)	total: 1m	remaining: 0us

bestTest = 0.07692307692
bestIteration = 283

Shrink model to first 284 iterations.
Score по всем заболеваниям:  0.23201574544858125

In [282]:
predict_col = predict_test.columns[-5:].to_list()
submit_catboost = predict_test[predict_col].copy()

In [287]:
submit_col=['ID', *illnesses]
submit_col

['ID',
 'Артериальная гипертензия',
 'ОНМК',
 'Стенокардия, ИБС, инфаркт миокарда',
 'Сердечная недостаточность',
 'Прочие заболевания сердца']

In [294]:
submit_catboost = submit_catboost.reset_index()
submit_catboost.columns = submit_col
submit_catboost.to_csv('Cat_Boost.csv', index=False)

In [255]:
# from sklearn.metrics import recall_score

In [ ]:
# Метрика в системе

# for illness in illnesses:
#     try:
#         score += recall_score(df_merge[illness + '_x'], df_merge[illness + '_y'], average='macro')
#         if math.isnan(score):
#             assert False, 'В проверяемом файле некорректные  столбцы для проверки'
#     except Exception:
#         assert False, 'В проверяемом файле некорректные столбцы для проверки'
# try:
#     score = score / len(illnesses)
# except Exception:
#     assert False, 'В проверяемом файле некорректные столбцы для проверки'

In [ ]:
# from csv import writer

# with open(fileName, "w", encoding = "utf8", newline = "") as csvFile:
#     csvWriter = writer(csvFile, delimiter = ",")
#     csvWriter.writerow(["ID", "Артериальная гипертензия", "ОНМК", "Стенокардия, ИБС, инфаркт миокарда", "Сердечная недостаточность", "Прочие заболевания сердца"])
#     for row in data:
#         csvWriter.writerow(row)